/*---------------------- CONTACT PAGE ----------------------*/

input, textarea, select{
    width: 100%;
    padding: 15px;
    border: none;
    margin: 15px 0 25px 0;
    resize: none;
    outline: none;
    font-family: "Pangolin";
    font-size: 16px;
    color: var(--secondary);
    background-color: var(--accent);
}

section {
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
}

form button {
    background-color: var(--primary-button);
    color: var(--secondary);
}

@media (max-width: 650px) {
    form {
        width: auto;
    }
}
