@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --primary: #fe875b;
    --secondary: #feebda;
    --primary-button: #75201b;
    --secondary-button: #ff9567;
    --accent: #ab432b;
}

/*---------------------- GENERAL ----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: "Pangolin";
    background-color: var(--secondary);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;
}

main {
    margin: 0 10% 10% 10%;
    color: var(--primary);
    justify-content: center;
    position: relative;
}

header {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
}

a {
    color: var(--secondary);
}

.rounded {
    border-radius: 25px;
}

button {
    font-family: "Pangolin";
    border: none;
    background-color: var(--secondary-button);
    color: var(--accent);
    display: inline-block;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
    transition: .7s;
}


/*---------------------- NAVBAR ----------------------*/

nav {
    margin: 15px 0;
    width: 100%;
    transition: all .3s ease-in-out;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-container{
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
    padding: 10px 30px 10px 30px;
    background-color: var(--secondary-button);
    transition: .7s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 35px;
    border-radius: 25px;
    background: var(--accent);
    margin: 5px 0;
    opacity: .8;
    transition: all .5s ease-in-out;
}

.nav-item:hover, button:hover {
    background-color: var(--primary);
}

.nav-open {
    transform: translate(0) !important;
}

.hamburger-open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger-open .bar:nth-child(2){
    display: none;
}

.hamburger-open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

/*---------------------- FOOTER ----------------------*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: auto;
    background-color: var(--secondary-button);
    color: var(--secondary);
}

footer div ul {
    display: flex;
    justify-content: center;
}


.social-media-logo {
    fill: var(--secondary);
    width: 35px;
    height: auto;
    margin: 10px 10px 0 10px;
}




/* MEDIA PHONE */

@media (max-width: 650px) {
    nav {
        position: fixed;
        top: 60px;
        left: 0;
        background: var(--primary-button);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .hamburger {
        display: block;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}
