@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --primary: #fe875b;
    --secondary: #feebda;
    --primary-button: #75201b;
    --secondary-button: #ff9567;
    --accent: #ab432b;
}

/*---------------------- GENERAL ----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0 10% 0 10%;
    font-family: "Pangolin";
    background-color: var(--secondary);
    height: 100%;
}

main {
    height: 80vh;
    color: var(--primary);
    justify-content: center;
    position: relative;
}

header {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none !important;
    color: var(--secondary);
}

li {
    list-style: none;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.rounded {
    border-radius: 25px;
}

.text-center {
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.left {
    float: left;
}
.right {
    float: right;
}

button {
    font-family: "Pangolin";
    border: none;
    background-color: var(--secondary-button);
    color: var(--accent);
    display: inline-block;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
}


/*---------------------- NAVBAR ----------------------*/

header nav {
    width: 100%;
    margin: 30px;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    padding: 10px 30px 10px 30px;
    background-color: var(--secondary-button);
}

/*---------------------- FOOTER ----------------------*/

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-button);
    color: var(--secondary);
}

footer div{
    margin: 0px 100px;
}

.social-media-logo {
    fill: var(--secondary);
    width: 35px;
    height: 36px;
    padding: 2px 2px;
}

/*---------------------- HOME PAGE ----------------------*/

.bg {
    position: absolute;
    opacity: .4;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.home-section div {
    width: 100%;
    position: absolute;
    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-section h1 {
    font-size: 4rem;
    font-style: italic;
    margin: 32px 0;
}

.home-section p {
    font-size: 3rem;
    margin: 32px 0;
}

/* ---------------------- TRAJECTORY PAGE ----------------------*/

.container-trajectory {
    margin: 50px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    color: var(--secondary);
}

.circle-date-trajectory {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary);
    position: relative;
}

.rectangle-data-trajectory {
    width: 80%;
    height: 100px;
    background-color: var(--primary);
    position: relative;
}

.rectangle-data-trajectory p {
    width: 95%;
}

/*---------------------- PRODUCTS PAGE ----------------------*/

.products-section {
    height: 80vh;
    
}

.card {
    width: 250px;
    height: auto;
    border: #75201b 3px solid;
    border-radius: 25px;
    margin: 15px;
    padding: 25px;
    background-color: var(--secondary-button);
    color: var(--secondary);
}

.card img {
    margin: 0 0 15px 0;
}


/*---------------------- LOCATION PAGE ----------------------*/

.location-section {
    width: 100%;
}

.location-section iframe {
    width: 50%;
}

.location-data {
    /* TODO: CENTER TEXT IN MIDDLE OF DIV */
    width: 50%;
    height: 100%;
    margin: 0 auto;
}




/*---------------------- CONTACT PAGE ----------------------*/

input, textarea, select{
    width: 100%;
    padding: 15px;
    border: none;
    margin: 15px 0 25px 0;
    resize: none;
    outline: none;
    font-family: "Pangolin";
    font-size: 16px;
    color: var(--secondary);
    background-color: var(--accent);
}

form {
    width: 85%;
    height: 85%;
    position: absolute;
    padding: 55px;
    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: var(--secondary);
}

form button {
    background-color: var(--primary-button);
    color: var(--secondary);
}
