/* ---------------------- LOCATION PAGE ----------------------

.location-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.location-section iframe {
    padding: 5rem;
}

.location-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.location-data button {
    width: 50%;
}



@media (max-width: 650px) {
    .location-section {
        flex-direction: column;
    }
} */