/*---------------------- PRODUCTS PAGE ----------------------*/
.products-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
    border-radius: 25px;
    margin: 15px;
    padding: 25px;
    background-color: var(--secondary-button);
    color: var(--secondary);
    transition: .7s;
}

.card:hover {
    transform: scale(1.1);
}

.card-img {
    margin: 0 0 15px 0;
    height: auto;
    width: 80px;
    border-radius: 999999px; 
}

.card-title {
    font-size: 2rem;
    margin: 10px;
}


@media (max-width: 650px) {
    .products-section {
        grid-template-columns: repeat(1, 1fr);
    }
}



